<div class="ot-form-container" class="cm-onbaording-facet" [perfectScrollbar]="scrollConfig">
  <div>
    <form #buForm="ngForm">
      <div class="ot-row ot-row-custom">
        <div class="ot-col-sm-12 clear-bottom">
          <span>{{'tpmsg.legends.serchEDIonNetwork'|translate}}</span>
        </div>

        <div class="ot-col-sm-8" *ngIf="!isGDFlag">
          <label class="ot-form-control-label ot-required">
            {{'tpmsg.fields.ediAddress'|translate}}</label>
          <div class="ot-col-sm-2">
            <input type="text" maxlength="4" name="qualifier" #qualifier [(ngModel)]="inputQualifier" trim />
          </div>
          <span class="cm-edi-saparator">:</span>
          <div class="ot-col-sm-6">
            <input type="text" maxlength="34" [ngClass]="address.errors &&address.invalid &&(address.dirty || address.touched) ? 'ot-error':'ot-text'"
            name="address" #address="ngModel" [(ngModel)]="inputAddress" trim required/>
            <div *ngIf="address.errors && address.invalid &&(address.dirty || address.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.partnerId'|translate}}</div>
            </div>
            <div *ngIf="inputAddress?.length > 34">
              <div class="ot-error">{{'tpdir.create.validationMessages.maxEDIlength'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-2">
            <button class="ot-primary" [disabled]="!ediValid" style="margin-top: 5px!important;" (click)="verifyEdi()"
              type="button">{{'tpdir.search.title'|translate}}</button>
          </div>
        </div>
        <!-- //(onChange)="onEdiSelect()" -->
        <div class="ot-col-sm-5" *ngIf="isGDFlag">
          <ot-select-dropdown name="ediOptionsForBu" [options]="ediOptions" dataKey="value" optionLabel="label"
            placeholder="EDI" [(ngModel)]="selectedEDI" (onChange)="onEdiSelect()" styleClass="cm-p-dropdown"
            #ediOps="ngModel" required></ot-select-dropdown>
        </div>
      </div>

      <div style="border-top: 1px solid #6666;">

        <div class="ot-row ot-row-custom">
          <div class="ot-col-sm-12 ">
            <h2>{{'tpdir.create.form.formTitle'|translate}}</h2>
          </div>
        </div>
        <div class="ot-row ot-row-custom">
          <div class="ot-col-sm-5">
            <label class="ot-form-control-label ot-required">{{'tpdir.create.form.companyName'|translate}}</label>
            <input type="text" [ngClass]="cname.errors &&cname.invalid &&(cname.dirty || cname.touched) ? 'ot-error':'ot-text'"
              name="cname" maxlength="100" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyName"
              #cname="ngModel" [disabled]="isReadonly" required>
            <div *ngIf="cname.errors &&cname.invalid &&(cname.dirty || cname.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.cnamerequired'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3  ot-col-sm-offset-1  ">
            <label class="ot-form-control-label">{{'tpdir.create.form.addressLine1'|translate}}</label>
            <input type="text" [ngClass]="addr1.errors &&addr1.invalid &&(addr1.dirty || addr1.touched) ? 'ot-error':'ot-text'"
              name="addr1" maxlength="75" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.addressLine1"
              #addr1="ngModel" [disabled]="isReadonly">
          </div>
          <div class="ot-col-sm-3">
            <label class="ot-form-control-label">{{'tpdir.create.form.addressLine2'|translate}}</label>
            <input type="text" [ngClass]="addr2.errors &&addr2.invalid &&(addr2.dirty || addr2.touched) ? 'ot-error':'ot-text'"
              name="addr2" [disabled]="isReadonly" maxlength="75" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.addressLine2"
              #addr2="ngModel">
          </div>
        </div>
        <div class="ot-row ot-row-custom">

          <div class="ot-col-sm-5">
            <label class="ot-form-control-label">
              {{'tpdir.create.form.displayName'|translate}}</label>
            <input type="text" [ngClass]="name.errors &&name.invalid &&(name.dirty || name.touched) ? 'ot-error':'ot-text'"
              name="displayName" maxlength="120" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.displayName"
              #name="ngModel">
            <div *ngIf="name.errors &&name.invalid &&(name.dirty || name.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.dnamerequired'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3  ot-col-sm-offset-1">
            <label class="ot-form-control-label">{{'tpdir.create.form.city'|translate}}</label>
            <input type="text" [ngClass]="city.errors &&city.invalid &&(city.dirty || city.touched) ? 'ot-error':'ot-text'"
              name="city" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.city"
              #city="ngModel" maxlength="50" [disabled]="isReadonly">
            <div *ngIf="city.errors &&city.invalid &&(city.dirty || city.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.cityrequired'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3">
            <label class="ot-form-control-label">{{'tpdir.create.form.state'|translate}}</label>
            <input type="text" [ngClass]="state.errors  ? 'ot-error':'ot-text'" name="state" [disabled]="isReadonly"
              maxlength="50" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.state"
              #state="ngModel">
            <div *ngIf="state.errors">
              <div class="ot-error" [hidden]="!state.errors.exists">
                {{'tpdir.create.validationMessages.staterequired'|translate}}</div>
            </div>
          </div>
        </div>
        <div class="ot-row ot-row-custom modified">
          <!-- <div class="ot-col-sm-5">
            <label class="ot-form-control-label">{{'tpdir.create.form.tradingPartnerType'|translate}}</label>
            <textarea class="ot-form-control ot-stnd-textarea" resizable="false" [disabled]="isReadonly" rows="5" id="d"
              name="note" disabled="true"></textarea>
          </div> -->
          <div class="ot-row ot-row-custom">
            <div class="ot-col-sm-2">
              <label class="ot-form-control-label">{{'tpdir.create.form.postalCode'|translate}}</label>
              <input type="text" name="postalcode" [ngClass]="postalcode.errors  ? 'ot-error':'ot-text'" [disabled]="isReadonly"
                [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.postalCode"
                maxlength="25" #postalcode="ngModel">
              <div *ngIf="postalcode.errors">
                <div class="ot-error" [hidden]="!postalcode.errors.exists">
                  {{'tpdir.create.validationMessages.postrequired'|translate}}</div>
              </div>
            </div>
            <div class="ot-col-sm-3">
              <label class="ot-form-control-label">{{'tpdir.create.form.country'|translate}}</label>
              <ot-select-dropdown name="country" [options]="countries" dataKey="countryCode"  optionLabel="countryDescription"
                placeholder="{{'common.default.select.txt'| translate}}" styleClass="cm-p-dropdown" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.countryCode"
                #country="ngModel" [disabled]="isReadonly"></ot-select-dropdown>
              <div *ngIf="country.errors && country.invalid &&(country.dirty || country.touched)">
                <div class="ot-error">{{'tpdir.create.validationMessages.countryrequired'|translate}}</div>
              </div>
            </div>
            <div class="ot-col-sm-3  ot-col-sm-offset-1 ">
              <label class="ot-form-control-label">{{'tpmsg.fields.companyPhone'|translate}}</label>
              <input type="text" [disabled]="isReadonly" maxlength="25" name="companyNumber" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyNumber" />
            </div>
            <div class="ot-col-sm-3">
              <label class="ot-form-control-label">{{'tpdir.company.profile.email'|translate}}</label>
              <input type="text" [disabled]="isReadonly" maxlength="85" [ngClass]="companyEmail.errors &&companyEmail.invalid &&(companyEmail.dirty || companyEmail.touched) ? 'ot-error':'ot-text'"
                name="companyEmail" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyEmail"
                #companyEmail="ngModel" pattern="{{emailregex}}" />
              <div *ngIf="companyEmail.errors && companyEmail.invalid &&(companyEmail.dirty || companyEmail.touched)">
                <div class="ot-error" [hidden]="!companyEmail.errors.pattern">
                  {{'tpdir.create.validationMessages.companyEmailInvalid'|translate}}</div>
              </div>
            </div>
          </div>
          <!-- <div class="ot-row ot-row-custom" style="margin-bottom:0">
              <div class="ot-col-sm-6">
                <label class="ot-form-control-label">{{'tpmsg.fields.companyPhone'|translate}}</label>
                <input type="text" [disabled]="isReadonly" maxlength="25" />
              </div>
              <div class="ot-col-sm-6">
                <label class="ot-form-control-label">{{'tpdir.company.profile.email'|translate}}</label>
                <input type="text" [disabled]="isReadonly" maxlength="85" [ngClass]="companyEmail.errors &&companyEmail.invalid &&(companyEmail.dirty || companyEmail.touched) ? 'ot-error':'ot-text'"
                name="companyEmail" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyEmail"
                #companyEmail="ngModel" pattern="{{emailregex}}" />
                <div *ngIf="companyEmail.errors && companyEmail.invalid &&(companyEmail.dirty || companyEmail.touched)">
                  <div class="ot-error" [hidden]="!cemail.errors.pattern">
                    {{'tpdir.create.validationMessages.emailinvalid'|translate}}</div>
                </div>
              </div>

            </div> -->
        </div>
        <div class="ot-row ot-row-custom">
          <div class="ot-col-sm-2 ">
            <label class="ot-form-control-label ">{{'tpdir.create.form.companyId'|translate}}</label>
            <input type="text" [ngClass]="companyId.errors &&companyId.invalid &&(companyId.dirty || companyId.touched) ? 'ot-error':'ot-text'"
              name="companyId" [pattern]="companyIdRegx" trim="blur" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.customCompanyId"
              #companyId="ngModel" minlength="2" maxlength="25" (keydown.space)="$event.preventDefault()" />
            <div *ngIf="companyId.errors && companyId.invalid && workFlow.provisioningRequestData.registrationData.businessUnit.customCompanyId">
              <div class="ot-error">{{'tpdir.create.validationMessages.companyIdValidation'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-2">
            <label class="ot-form-control-label">{{'tpdir.create.form.website'|translate}}</label>
            <input type="text" [disabled]="isReadonly" maxlength="75" name="wburl" [(ngModel)]="workFlow.provisioningRequestData.registrationData.businessUnit.companyAddress.website"
              #wburl="ngModel" />
          </div>
        </div>

        <hr>

        <div class="ot-row ot-row-custom">
          <div class="ot-col-sm-12 ">
            <h4>{{'tpmsg.legends.contactInfo'|translate}}</h4>
            <!-- <h2>{{'tpdir.create.form.formTitle'|translate}}</h2> -->
          </div>
        </div>

        <div class="ot-row ot-row-custom">
          <div class="ot-col-sm-3">
            <label class="ot-form-control-label">{{'tpdir.create.form.cfirstName'|translate}}</label>
            <input type="text" [ngClass]="cfname.errors &&cfname.invalid &&(cfname.dirty || cfname.touched) ? 'ot-error':'ot-text'"
              name="cfname" [(ngModel)]="workFlow.provisioningRequestData.registrationData.technicalPointOfContact.firstName"
              #cfname="ngModel" maxlength="49">
            <div *ngIf="cfname.errors &&cfname.invalid &&(cfname.dirty || cfname.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.fnamerequired'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3">
            <label class="ot-form-control-label">{{'tpdir.create.form.clastName'|translate}}</label>
            <input type="text" [ngClass]="clname.errors &&clname.invalid &&(clname.dirty || clname.touched) ? 'ot-error':'ot-text'"
              name="clname" maxlength="49" [(ngModel)]="workFlow.provisioningRequestData.registrationData.technicalPointOfContact.lastName"
              #clname="ngModel">
            <div *ngIf="clname.errors &&clname.invalid &&(clname.dirty || clname.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.lnamerequired'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3 ">
            <label class="ot-form-control-label">{{'tpdir.create.form.cemail'|translate}}</label>
            <input type="text" [ngClass]="cemail.errors &&cemail.invalid &&(cemail.dirty || cemail.touched) ? 'ot-error':'ot-text'"
              name="cemail" [(ngModel)]="workFlow.provisioningRequestData.registrationData.technicalPointOfContact.contactInformation.email"
              maxlength="50" #cemail="ngModel" pattern="{{emailregex}}">
            <div *ngIf="cemail.errors && cemail.invalid &&(cemail.dirty || cemail.touched)">
              <div class="ot-error" [hidden]="!cemail.errors.required">
                {{'tpdir.create.validationMessages.emailrequired'|translate}}</div>
              <div class="ot-error" [hidden]="!cemail.errors.pattern">
                {{'tpdir.create.validationMessages.emailinvalid'|translate}}</div>
            </div>
          </div>
          <div class="ot-col-sm-3 ">
            <label class="ot-form-control-label">{{'tpdir.create.form.userPhone'|translate}}</label>
            <input type="text" [ngClass]="cphone.errors &&cphone.invalid &&(cphone.dirty || cphone.touched) ? 'ot-error':'ot-text'"
              name="cphone" [(ngModel)]="workFlow.provisioningRequestData.registrationData.technicalPointOfContact.contactInformation.telephone"
              maxlength="25" #cphone="ngModel">
            <div *ngIf="cphone.errors &&cphone.invalid &&(cphone.dirty || cphone.touched)">
              <div class="ot-error">{{'tpdir.create.validationMessages.phonerequired'|translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<footer class="ot-page-footer-container footer">
  <div class="ot-form-footer">
    <button class="ot-primary" type="button" [disabled]="!validateForm()" (click)="nextStep()">{{'common.next'|translate}}</button>
    <button class="ot-secondary" type="button" (click)="cancel()" >{{'common.Cancel'|translate}}</button>
  </div>
</footer>

<ot-dialoguebox iconClass="ot-warning-icon" header="{{'common.duplicate' |translate}}" name="exisitingTp" acceptButton="{{'common.confirm' |translate}}"
  rejectButton="{{'common.Cancel' |translate}}">
  <div dialog-message>
    {{'common.question.duplicate.create' |translate}}
  </div>
</ot-dialoguebox>

<ot-dialoguebox iconClass="ot-warning-icon" header="{{'common.cancelSetupHeader' |translate}}" name="cancelSetup"
  acceptButton="{{'common.confirm' |translate}}"
  rejectButton="{{'common.Cancel' |translate}}">
  <div dialog-message>
    {{'common.cancelSetupText' |translate}}
  </div>
</ot-dialoguebox>
